<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <!-- <link rel="icon" href="{% static 'logo.ico' %}"> -->
    <title>{{display_name}}</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="{% static 'import/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'main_css/main.css' %}">
    <!-- 引入组件库 -->
    <script src="{% static 'import/vue.js' %}"></script>
    <script src="{% static 'import/element_index.js' %}"></script>
    <script src="{% static 'import/three.js' %}"></script>
    <script src="{% static 'import/stats.js' %}"></script>
    <script src="{% static 'import/Setting.js' %}"></script>
    <script src="{% static 'import/OrbitControls.js' %}"></script>
    <script src="{% static 'import/dat.gui.min.js' %}"></script>
    <script src="{% static 'import/SceneUtils.js' %}"></script>
    <script src="{% static 'import/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'import/jquery.cookie.js' %}"></script>
    <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
    <script src="{% static 'main_js/create_visit_log.js' %}"></script>
    <script src="{% static 'main_js/error/view_exception.js' %}"></script>
    <script src="{% static 'import/STLLoader.js' %}"></script>
    <script src="{% static 'import/stats.js' %}"></script>
    <script src="{% static 'import/echarts.min.js' %}"></script>
    <script src="{% static 'import/echarts-gl.min.js' %}"></script>
    <script src="{% static 'import/vue-resource.min.js' %}"></script>
    <!-- 轨迹球控件 -->
    <script src="{% static 'import/TrackballControls.js' %}"></script>
    <!-- <script src="{% static 'main_js/login_verification.js' %}"></script> -->
    
</head>
<body>
    <div id="Stats-output"></div>
    <div>
        <!--加载动画的div-->
        <div id="render">
        </div>
        <div id="app">
            <div id="lef_top_label">
                <!-- <p id="title2">{{view_name}}</p> -->
                <p style="color: aqua;">
                    <b>场景名称: </b>
                    {{view_name}}
                     </p>
                <!-- <el-select id="parent_view_select" v-model="parent_view_selected" placeholder="请选择场景" :disabled="parent_view_name_select_disable_status" @change="parent_view_change" size="mini"> -->
                <el-select v-model="camera_selected" size="mini">
                    <el-option
                    v-for="item in camera_list"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                    </el-option>
                </el-select>
            </div>
        </div>
            
        </div>
    </div>
    <script src="{% static 'main_js/model.js' %}"></script>
    <script src="{% static 'main_js/view_display.js' %}"></script>
    <script src="{% static 'main_js/update_models.js' %}"></script>

    <script>
        let display_view_id={{view_id}};
        let hugo;
        // let renderer, camera, scene,controls,controller;
        ////模型信息列表
        // let models_info=[];
        // ////模型实体列表
        // let models=[];
        // let load_models_num;
        // let loaded_models_num=0;
        // let load_status=false;
        let Main = {
            data() {
                return {
                    display_name:'',
                    parent_view_selected:display_view_id,
                    // views_models_info的哈希值，校验是否需要保存
                    views_models_info_hashcode: 0,
                    versions:null,
                    // 视角相关
                    camera_selected: '',
                    camera_list: [],
                    camera_info_list: {},
                }
            },
            mounted:function(){
                hugo=this;
                // this.get_display_info();
                initThree(0);
                loadAutoScreen(camera, renderer);
                this.load_parent_view();
                // this.openFullScreen(200);
                // load_models(display_view_id)
                render();
                this.update_all();
                this.timer = setInterval(this.update_all, 2000);
            },
            methods: {
                update_all:function(){
                    this.update_view();
                    // update_models_info();
                    // update_models();
                },
                // 根据parent_view_id取回所有的视角
                get_camera_by_parent_view_id: function () {
                    this.$http.post(
                        '/vmaker/get_cameras_by_parent_view_id/',
                        {
                            parent_view_id: this.parent_view_selected
                        },
                        { emulateJSON: true }
                    ).then(function (res) {
                        this.camera_info_list = {};
                        this.camera_list = [];
                        let cs = res.body.cameras;
                        cs.forEach(c => {
                            this.camera_info_list['c' + c['id']] = c;
                            this.camera_list.push({ value: c.id, label: c.camera_name });
                        })
                    })
                },
                update_view:function(){
                    // 获取当前场景及各个子场景的版本号
                    this.$http.post(
                    '/vmaker/get_versions_by_parent_view_id/',
                    {
                        parent_view_id:this.parent_view_selected
                    },
                    { emulateJSON: true }
                    ).then(function (res) {
                        if(this.versions==null){
                            this.versions=res.body;
                            this.get_camera_by_parent_view_id();
                        }
                        // 当母场景的版本号发生变化时，更新相机列表，版本号发生变化的子场景模型信息更新，新出现的模型加载
                        if(this.versions.parent_view_version!=res.body.parent_view_version){
                            // 检查哪些字场景版本号发生了变化
                            // console.log(res.body)
                            Object.keys(this.versions.child_view_version).forEach(k => {
                                if(this.versions.child_view_version[k] != res.body.child_view_version[k]){
                                    console.log(k)
                                    this.versions.child_view_version[k] = res.body.child_view_version[k]
                                }
                            })

                            this.get_camera_by_parent_view_id();
                            // console.log("更新")
                            // Object.keys(this.versions.child_view_version).forEach(k => {
                            //         console.log(k)
                            //     }
                            // console.log(res.body)
                            // )
                        }
                    });
                },
                // 加载选中的母场景的所有模型
                load_parent_view: function () {
                    if (this.parent_view_selected == '') {
                        alert("没有选中任何场景")
                        return false;
                    }

                    // 获取母场景模型的总数,赋值给will_load_models_number
                    this.$http.post(
                        '/vmaker/get_model_number_by_parent_view_id/',
                        {
                            parent_view_id: this.parent_view_selected
                        },
                        { emulateJSON: true }
                    ).then(function (res) {
                        // 本次加载计数清零
                        // models_view_control_arguments.models_number_reset();
                        // this.will_load_models_number = res.body;
                        // console.log(res.body);
                        if (this.will_load_models_number != 0) {
                            this.loding_status = true;
                        }
                    });

                    this.$http.post(
                        '/vmaker/get_child_view_by_parent_view_id/',
                        {
                            parent_view_id: this.parent_view_selected
                        },
                        { emulateJSON: true }
                    ).then(function (res) {
                        res.body.child_view_id.forEach(child_view_id => {
                            this.load_child_view_model(child_view_id)
                        })
                    })
                },

                // 根据场景的ID加载所有子场景场景中的模型
                load_child_view_model: function (child_view_id) {
                    let models_got_list = [];
                    this.$http.post(
                        '/vmaker/get_models_by_child_view/',
                        {
                            child_view_id: child_view_id
                        },
                        { emulateJSON: true }
                    ).then(function (res) {
                        // console.log(res.body);
                        res.body.models.forEach(model => {
                            let m_serial = model.serial;
                            views_models_info['models_info'][m_serial] = new Model(model.child_view_id, model.com_model_id, model.model_name, model.url, m_serial, model.materials_type);
                            views_models_info['models_info'][m_serial].change_po_x(model.position_x);
                            views_models_info['models_info'][m_serial].change_po_y(model.position_y)
                            views_models_info['models_info'][m_serial].change_po_z(model.position_z)
                            views_models_info['models_info'][m_serial].change_ro_x(model.rotation_x)
                            views_models_info['models_info'][m_serial].change_ro_y(model.rotation_y)
                            views_models_info['models_info'][m_serial].change_ro_z(model.rotation_z)
                            views_models_info['models_info'][m_serial].change_materials_color_r(model.materials_color_r)
                            views_models_info['models_info'][m_serial].change_materials_color_g(model.materials_color_g)
                            views_models_info['models_info'][m_serial].change_materials_color_b(model.materials_color_b)
                            views_models_info['models_info'][m_serial].change_metalness(model.metalness)
                            views_models_info['models_info'][m_serial].change_roughness(model.roughness)
                            views_models_info['models_info'][m_serial].change_emissive_r(model.emissive_r)
                            views_models_info['models_info'][m_serial].change_emissive_g(model.emissive_g)
                            views_models_info['models_info'][m_serial].change_emissive_b(model.emissive_b)
                            views_models_info['models_info'][m_serial].change_emissiveIntensity(model.emissiveIntensity)
                            views_models_info['models_info'][m_serial].change_reflectivity(model.reflectivity)
                            views_models_info['models_info'][m_serial].change_scale_x(model.scale_x)
                            views_models_info['models_info'][m_serial].change_scale_y(model.scale_y)
                            views_models_info['models_info'][m_serial].change_scale_z(model.scale_z)
                            initObject(m_serial);
                        });
                        views_models_info['views_info']['v' + child_view_id] = new ChildView(child_view_id)
                        views_models_info['views_info']['v' + child_view_id].change_view_name(res.body.child_views.child_view_name)
                        views_models_info['views_info']['v' + child_view_id].change_view_position_x(res.body.child_views.view_position_x)
                        views_models_info['views_info']['v' + child_view_id].change_view_position_y(res.body.child_views.view_position_y)
                        views_models_info['views_info']['v' + child_view_id].change_view_position_z(res.body.child_views.view_position_z)
                    });

                },

            }
        }
        var Ctor = Vue.extend(Main)
        new Ctor().$mount('#app')
        //动画
        function render() {
            requestAnimationFrame(render);
            renderer.render(scene, camera);
            // controls.update();
        }
        
        
        
        
    </script>
    <script>
        create_visit_log(4);
      </script>
    
    
</body>
</html>